.Loader{
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0 ;
    bottom: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    transition: .2s;
}