.color-container{
    height: 30px;
    width: 100%;
    background: rebeccapurple;
    border-radius: 3px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .3);
    transition: .2s;
    cursor: pointer;
    margin-bottom: 10px;
}

.color-container.selected{
    border: 1px solid #333;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.color-container:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border: 1px solid #333
}

.other-color-container{
    height: 40px;
    border-radius: 3px;
    width: 100%;
    position: relative;
    border: 2px dashed #888;
    cursor: pointer;
    transition: .3s;  
    font-weight: 500;
}

.other-color-container.selected{
    border: 1px solid #333;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.other-color-container > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    text-align: center;
    padding: 5px;
}

.other-color-container:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.color-input{
    visibility: hidden;
}

.chekbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.metalic{
    background: linear-gradient(60deg, #B81414 0%, #EB4747 15%, #B81414 30%, #EB4747 41%, #B81414 60%, #EB4747 71%, #EB4747 86%, #B81414 100%);
}



.ProductForm-price-container{
    display: flex;
}

.ProductForm-price-container > .price{
    flex: 1;
    margin-right: 10px;
}

.ProductForm-sell-type-container > div{
    width: 100%;
}